<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>기업 가입</title>
  <style>
    @font-face {
        font-family: 'Pretendard-Regular';
        src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
        font-weight: 400;
        font-style: normal;
    }
    body {
        font-family: 'Pretendard-Regular', sans-serif;
        margin: 0;
        padding: 20px;
        font-size: 16px;
    }
    h2, p {
        font-family: 'Pretendard-Regular', sans-serif;
    }
  </style>
</head>
<body>
<img src='cid:blockImage' alt="SEMO Logo"/> <!-- 이미지 삽입 -->
<h2>Hello, We are SEMO!</h2>
<p>{{ownerName}}님 안녕하세요, SEMO 서비스를 이용해주셔서 감사드립니다.</p>
<p>아래와 같은 회사명으로 회사가 등록되었습니다. 이어서 SEMO 서비스 등록 신청을 이용해주세요.</p>
<br>
<a href='#'
   style='background-color:#42526E; color:white; padding:10px 135px; text-decoration:none; border-radius:50px; font-weight:bold;'>
  {{companyName}} <!-- 회사명을 버튼 스타일로 강조 -->
</a>
<br><br>
<p>SEMO 는 서비스를 더욱 편리하게 이용하실 수 있도록 항상 최선을 다하겠습니다.</p>
<br>
<p>감사합니다.</p>
<br><br>
<p style='font-size:10px;'>본 메일은 {{currentDate}} 기준으로 작성되었습니다.</p>
</body>
</html>
