<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입 반려 안내</title>
  <style>
    @font-face {
        font-family: 'Pretendard-Regular';
        src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
        font-weight: 400;
        font-style: normal;
    }
    body {
        font-family: 'Pretendard-Regular', sans-serif;
        margin: 0;
        padding: 20px;
        font-size: 16px;
    }
    h2, p {
        font-family: 'Pretendard-Regular', sans-serif;
    }
  </style>
</head>
<body>
<img src='cid:blockImage' alt="SEMO Logo" /> <!-- 이미지 삽입 -->
<h2>Hello, We are SEMO!</h2>

<h2>회원가입 반려 안내</h2>
<p>안녕하세요, 귀하의 회원가입 신청이 반려되었습니다.</p>
<p>추가 문의사항은 고객센터로 연락주시기 바랍니다.</p>
<br>
<p>감사합니다.</p>
<br><br>
<p style='font-size:10px;'>본 메일은 {{currentDate}} 기준으로 작성되었습니다.</p> <!-- 현재 날짜 -->
</body>
</html>
